Repository k-morozov/AppChat, pull requests merged in 2020-08, with the labels that each got.

#66 Database fix
  .travis.yml
  README.md
  lib/storage/CMakeLists.txt
  lib/storage/database.cpp
Labels: bug

#67 Porting gui to qml
  .travis.yml
  src/client/CMakeLists.txt
  src/client/control/control.cpp
  src/client/control/control.h
  src/client/gui/mainwindow.cpp
  src/client/gui/mainwindow.h
  src/client/gui/qml.qrc
  src/client/gui/resources/AuthHeader.qml
  src/client/gui/resources/AuthorisationWindow.qml
  src/client/gui/resources/ChatWindow.qml
  src/client/gui/resources/CustomButton.qml
  src/client/gui/resources/RegistrationWindow.qml
  src/client/gui/resources/images/avatar.svg
  src/client/gui/resources/images/key.svg
  src/client/gui/resources/main.qml
  src/client/startup_client.cpp
  src/server/channel/channel.cpp
Labels: enhancement

#90 Update README.md
  README.md
Labels: documentation

#93 Add changelog.md
  CHANGELOG.md
  lib/protocol/command_table.h
  scripts/install_env.sh
  src/client/control/control.cpp
  src/client/control/control.h
  src/client/startup_client.cpp
  src/server/server.h
  src/server/startup_server.cpp
Labels: documentation, good first issue

#102 fix bug database
  src/server/connection/connection_manager.h
  src/server/storage/database.cpp
  src/server/storage/database.h
Labels: bug, server

#105 add sanitize and debug define
  CHANGELOG.md
  CMakeLists.txt
Labels: client, enhancement, server

#109 add program_options
  src/client/control/control.h
  src/server/CMakeLists.txt
  src/server/startup_server.cpp
  src/server/storage/database.cpp
Labels: server

#107 add some bugs with memory leak
  CMakeLists.txt
  src/client/client/client.cpp
  src/client/client/client.h
  src/client/control/control.cpp
  src/client/control/control.h
  src/protocol/command_table.h
  src/protocol/datetime.h
  src/protocol/request/control_request.h
  src/protocol/request/request.h
  src/protocol/request/transport_request.h
  src/protocol/response/transport_response.h
  src/server/CMakeLists.txt
  src/server/connection/connection.cpp
  src/server/connection/connection.h
  src/server/connection/connection_manager.cpp
  src/server/connection/isubscriber.h
  src/server/startup_server.cpp
  src/server/storage/database.cpp
  src/server/storage/database.h
Labels: bug, client, server

#110 fix memory leak in database
  src/server/channel/channel.h
  src/server/startup_server.cpp
  src/server/storage/database.cpp
  src/server/storage/database.h
Labels: bug, database, server

#114 Fix close socket
  CMakeLists.txt
  src/client/client/client.cpp
  src/client/client/client.h
  src/server/connection/connection.cpp
  src/server/connection/connection.h
  src/server/connection/connection_manager.h
  src/server/server.h
  src/server/startup_server.cpp
Labels: bug, client

#115 Add travis for windows
  .travis.yml
  CMakeLists.txt
  scripts/install_env.py
  scripts/qt_windows_installer.qs
  src/client/CMakeLists.txt
  src/protocol/CMakeLists.txt
Labels: build, client

#116 Port client to windows
  .travis.yml
  CHANGELOG.md
  CMakeLists.txt
  scripts/install_env.py
  scripts/qt_windows_installer.qs
  src/client/CMakeLists.txt
  src/protocol/CMakeLists.txt
  src/server/CMakeLists.txt
Labels: build, client, windows

#119 Modern cmake
  .gitignore
  CMakeLists.txt
  cmake/ProjectWarnings.cmake
  cmake/Sanitizers.cmake
  src/client/CMakeLists.txt
  src/client/client/client.cpp
  src/client/control/control.cpp
  src/client/control/control.h
  src/client/gui/mainwindow.cpp
  src/client/gui/mainwindow.h
  src/protocol/CMakeLists.txt
  src/protocol/include/protocol/command_table.h
  src/protocol/include/protocol/datetime.h
  src/protocol/include/protocol/protocol.h
  src/protocol/include/protocol/request/control_request.h
  src/protocol/include/protocol/request/input_request.h
  src/protocol/include/protocol/request/request.h
  src/protocol/include/protocol/request/transport_request.h
  src/protocol/include/protocol/response/input_response.h
  src/protocol/include/protocol/response/response.h
  src/protocol/include/protocol/response/transport_response.h
  src/protocol/protocol.cpp
  src/protocol/protocol.h
  src/server/CMakeLists.txt
  src/server/channel/channel.cpp
  src/server/channel/channel.h
  src/server/channel/channels_manager.cpp
  src/server/channel/channels_manager.h
  src/server/channel/iroom.h
  src/server/connection/connection.cpp
  src/server/connection/connection.h
  src/server/storage/database.h
  src/tests/protocol/CMakeLists.txt
Labels: build
